.poke {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 1500px;
    &-title{
      display: flex;
      justify-content: center;
      font-size: x-large;
      color: whitesmoke;
      font-weight: bold;
    }
    &-all{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }
    &-src{
      display: flex;
    }
    &-img{
      width: 350px;
    }
    &-information{
      background-color: #ab3838;
      border-radius: 10px;
      width: 500px;
      height: 350px;
      margin: 10px;
    }
    &-name{
      margin-bottom: 15px;
      color: whitesmoke;
      font-weight: bold;
    }
    &-type{
      margin: 20px ;
      color: whitesmoke;
    }
    &-typeone{
      padding: 5px;
      margin-right: 10px;
      border-radius: 5px;
    }
    &-typetwo{
      padding: 5px;
      margin-right: 10px;
      border-radius: 5px;
    }
    &-stats{
      display: flex;
    }
    &-progress{
      margin-left: 5rem;
    }
    &-list{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin: 0 50px 0 20px;
        font-weight: bold;
        color: whitesmoke
    }
  };
  
  h3{
    font-weight: bold;
    color: white;
    margin: 20px
  };
  
  li{
    display: flex;
    color: white;
    font-weight: bold;
  }

  ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .back{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    &-button{
      background-color: #c14040;
      border: none;
      font-size: x-large;
      font-weight: bold;
      color: white;
    }
    &-button:hover{
      transition: transform 0.3s;
      transform: scale(1.1);
      color: #ab2020;
    }
  }
  

  .progress{
    margin-bottom: 5px;
    display: flex;
    background: #632b2b;
    border-radius: 7px;
    height: 20px;
    width: 258px;
    padding: 3px;
    text-align: center;
    font-weight: bold;
  };
  
  .progress>div {
    background:  whitesmoke;
    height: 100%;
    border-radius: 5px;
  }